body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* head style part */

.head-content-align {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: rgb(6, 78, 145);
}
.header-title {
  font-size: 8vh;
  margin: 0;
  font-weight: 700;
  line-height: 10vh;
  color: rgb(231, 233, 235);
}
.head-img {
  width: 40%;
}
.position-btn {
  margin-bottom: 3.4vh;
}
.watch-btn {
  text-decoration: none;
  font-size: 2.5vh;
  padding: 1vh 2vh;
  color: black;
  font-weight: bold;
  border-radius: 1vh;
  background-color: rgb(187, 149, 155);
}
.fas {
  margin-left: 2vh;
}

/* blogs part */

.blogs-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs-align {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: blueviolet; */
  grid-column-gap: 3.5vh;
  grid-row-gap: 3.5vh;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-top: 8.8vh;
  margin-bottom: 8.8vh;
}
.blog {
  padding: 2vh;
  box-shadow: 0 0 2vh rgb(206, 205, 205);
}
.player-img {
  width: 100%;
}
.blog-title {
  font-size: 3.5vh;
  margin: 1vh 0;
}
.description {
  font-size: 2vh;
  text-align: justify;
}

/* Match shedual */

.match-schedule {
  width: 100%;
  /* height: 150vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
.sche-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72%;
}
.sche-title {
  font-size: 5vh;
  margin: 2vh 0;
}
.sche-description {
  font-size: 2vh;
  margin: 2vh 0;
  width: 70%;
}
.match-btn {
  font-size: 2.2vh;
  padding: 0.5vh 1.5vh;
  border-radius: 0.5vh;
  color: aliceblue;
  text-decoration: none;
  background-image: linear-gradient(rgb(53, 168, 172), rgb(142, 202, 204));
}
.league-logo {
  width: 5%;
  height: 5%;
}
.match {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 72%;
  padding: 2vh;
  box-shadow: 0 0 0.3vh rgb(196, 194, 194);
}
.match:nth-child(even) {
  background-color: rgb(219, 216, 216);
}
.address-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country {
  margin: 1vh 0;
  font-size: 2vh;
}
.st-name {
  margin: 1vh 0;
  font-size: 3vh;
  font-weight: bold;
}
.time {
  margin: 1vh 0;
  font-size: 2vh;
  /* font-weight: bold; */
}
.ticket-btn {
  font-size: 2.2vh;
  padding: 0.5vh 1.5vh;
  border-radius: 0.5vh;
  color: aliceblue;
  text-decoration: none;
  background-image: linear-gradient(tomato, salmon);
}

/* shop part */

.shop-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
}
.shop-card-align {
  display: flex;
}
.prod-card {
  box-shadow: 0 0 1vh rgb(180, 178, 178);
  padding: 5vh;
  width: 30vh;
  border-radius: 1vh;
}
.prod-card:hover {
  box-shadow: 0 0 2.3vh rgb(180, 178, 178);
}
.align-card {
  margin: 0 5vh;
}
.prod-img {
  width: 100%;
  height: 32vh;
}
.prod-head {
  margin: 0 0 2vh 0;
  font-size: 3vh;
}
.prod-sub-head {
  margin: 0 0;
  font-size: 2vh;
}
.buy-btn {
  font-size: 2.2vh;
  padding: 0.5vh 2.5vh;
  border-radius: 0.5vh;
  color: aliceblue;
  text-decoration: none;
  box-shadow: 0 0 1vh rgb(209, 207, 207);
  background-image: linear-gradient(tomato, salmon);
}

/* footer pert */

.fb-logo {
  width: 20vh;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
  background-color: rgb(6, 78, 145);
}
.footer-head {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}
.fab {
  font-size: 4vh;
  margin: 0 0.5vh;
}
.footer-title {
  font-size: 4vh;
  margin-left: 3vh;
}
.copyright {
  margin: 2vh 0;
  font-size: 2vh;
}
